/* Start Global Rule */
/* import local font  */
@font-face {
  font-family:header;
  src:
  local("Roboto"),
  url("../Resources/Fonts/Roboto-VariableFont_wdth\,wght.ttf") format(truetype);
}
@font-face {
  font-family:body;
  src:
  local("Arimo"),
  url("../Resources/Fonts/Arimo-VariableFont_wght.ttf") format(truetype);
}
*{
  /* background-color: gray; */
  font-family: body;
  color: seashell;
  background-color: black;
  opacity: 90%;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4{
  font-family: header;
  text-transform: capitalize;
}
/* This Rule for Margin between Sections */
.our-mission,.tea-of-month,.location,.contact-us{
  margin: 30px auto;
}
/* End Global Rule */

/* Start Header Section */
header{
  background-color: black;
  width: 100%;
  height: 69px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: 40%;
}
header img{
  padding: 10px;
  flex:2 1 15%
}
nav{
  display: flex;
  flex: 2 1 40%;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
nav a{
  /* text-decoration: non; */
  color: lightgray;
}

/* End Header Section */

/* Start Our Mission Section */
.our-mission{
  background-image: url('../Resources/Images/img-mission-background.png');
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 30px;
  height: 700px;
}
.our-mission h2,.our-mission h4{
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* End Our Mission Section */

/* Start Tea Of Month Section */
section.tea-of-month{
  width: 1000px;
  text-align: center;
}
h2,p{
  padding-bottom:20px ;
}
.tea-of-month .cards{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  column-gap: 15px;
  row-gap: 15px;
}

.cards .card{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.card img{
  height: 200px;
  width: 300px;
  object-fit: cover;
}
.card h3{
  padding: 5px 0px;
}

/* End Tea Of Month Section */