/* Start Global Rule */
/* import local font  */
@font-face {
  font-family: header;
  src: local("Roboto"),
    url("../Resources/Fonts/Roboto-VariableFont_wdth\,wght.ttf")
      format(truetype);
}
@font-face {
  font-family: body;
  src: local("Arimo"),
    url("../Resources/Fonts/Arimo-VariableFont_wght.ttf") format(truetype);
}
* {
  box-sizing: border-box;
  font-family: body;
  color: seashell;
  margin: 0;
  padding: 0;
}
body {
  width: 1260px;
  margin: auto auto;
  background-color: black;
  color: seashell;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: header;
  text-transform: capitalize;
}
h2,
h3,
h4,
h5,
p,
address,
a,
header img {
  opacity: 0.9;
}
/* This Rule for Margin between Sections */
.our-mission,
.tea-of-month,
.location,
.contact-us {
  margin: 30px 30px;
}
/* End Global Rule */

/* Start Header Section */
header {
  background-color: black;
  width: 100%;
  height: 69px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 60%;
  border-bottom:1px solid seashell ;
}
header img {
  padding-left: 10px;
  height: 50px;
  flex: 2 1 15%;
}
nav {
  display: flex;
  flex: 2 1 40%;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
}
nav a {
  /* text-decoration: non; */
  color: lightgray;
}

/* End Header Section */

/* Start Our Mission Section */
.our-mission {
  margin-top: 0;
  background-image: url("../Resources/Images/img-mission-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 30px;
  height: 700px;
  width: 1200px;
}
.our-mission h2,
.our-mission h4 {
  background-color: black;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* End Our Mission Section */

/* Start Tea Of Month Section */
section.tea-of-month {
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.tea-of-month h2,
.tea-of-month p {
  padding-bottom: 15px;
}
.tea-of-month .cards {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  column-gap: 15px;
  row-gap: 15px;
}

.cards .card {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.card img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}
.card h3 {
  padding: 5px 0px;
}

/* End Tea Of Month Section */

/* Start Location Section  */
.location {
  margin: 30px 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  width: 1200px;
  height: 500px;
  background: no-repeat url("../Resources/Images/img-locations-background.jpg");
  background-size: cover;
  background-position: 30% 30%;
  background-clip: content-box;
}
.branches {
  display: flex;
  flex-flow: row nowrap;
  width: 980px;
  column-gap: 40px;
  padding-bottom: 100px;
}
.branches .branch {
  background-color: black;
  text-align: center;
  flex: 1 1 300px;
  line-height: 60px;
}

/* End Location Section  */

/* Start Location Section  */
footer {
  height: 200px;
}
footer h2,
footer h5 {
  margin-bottom: 30px;
  text-align: center;
}
footer p {
  padding-left: 20px;
  text-align: left;
}
/* End Location Section  */
