/* Start Global Rule */
/* import local font  */
@font-face {
  font-family:header;
  src:
  local("Roboto"),
  url("../Resources/Fonts/Roboto-VariableFont_wdth\,wght.ttf") format(truetype);
}
@font-face {
  font-family:body;
  src:
  local("Arimo"),
  url("../Resources/Fonts/Arimo-VariableFont_wght.ttf") format(truetype);
}
*{
  /* background-color: gray; */
  font-family: body;
  color: seashell;
  background-color: black;
  opacity: 90%;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4{
  font-family: header;
  text-transform: capitalize;
}
/* End Global Rule */

/* Start Header Section */
header{
  background-color: black;
  width: 100%;
  height: 69px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: 40%;
}
header img{
  padding: 10px;
  flex:2 1 15%
}
nav{
  display: flex;
  flex: 2 1 40%;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
nav a{
  /* text-decoration: non; */
  color: lightgray;
}

/* End Header Section */

/* Start Our mission Section */
.our-mission{
  background-image: url('../Resources/Images/img-mission-background.png');
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 30px;
  height: 700px;
}
.our-mission h2,.our-mission h4{
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* End Our mission Section */