/* Start Global Rule */
/* import local font  */
@font-face {
  font-family:header;
  src:
  local("Roboto"),
  url("../Resources/Fonts/Roboto-VariableFont_wdth\,wght.ttf") format(truetype);
}
@font-face {
  font-family:body;
  src:
  local("Arimo"),
  url("../Resources/Fonts/Arimo-VariableFont_wght.ttf") format(truetype);
}
*{
  /* background-color: gray; */
  font-family: body;
  color: seashell;
  background-color: black;
  opacity: 90%;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4{
  font-family: header;
}
/* End Global Rule */

/* Start Header Section */
header{
  background-color: black;
  width: 100%;
  height: 69px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: 40%;
}
header img{
  padding-left: 10px;
  flex:2 1 15%
}
nav{
  display: flex;
  flex: 2 1 40%;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
nav a{
  /* text-decoration: non; */
  color: lightgray;
}

/* End Header Section */
